<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <title>Loyalty Point</title>
    </head>
    <body>
    <div class="grid-container">
    <main class="main">
        <div class="content">
            <ul class="products">
                <li class="product">
                    <img class="product-image" src="images/p-1.png" alt="Perfume">
                    <div class="product-name"><a href="product.html">N21 Men</a></div>
                    <div class="brand name">FS$</div>
                    <div class="price">100$</div>
                    <div class="product-ratings">4.5 starts 10 reviews</div>
                </li>
            </ul>
        </div>
    </main>
<footer class="main">
    <p>Hello from B and beta</p>
</footer>
</div>
    </body>
</html>